.tab-nav {
    display: flex;
    cursor: pointer;

    &--selected {
        background-color: grey;
    }

    & div {
        border: .3rem solid black;
        border-bottom: 0rem;

        &:hover {
            background-color: green;
        }

        &:first-child {
            border-right: 0rem;
        }
    }
}